<h1>@ViewBag.title</h1>

<h3>@ViewBag.jobs.Count Result(s)</h3>


@*@{
        // TODO #3 - Use the same list display from Views/Search/Index.cshtml
        
}*@

@foreach (var job in ViewBag.jobs)
{
    <table class="job-listing">
        <tbody>
            @foreach (var field in job)
            {
                <tr>
                    <td>@field.Key </td>
                    @if (field.Key == "name")
                    {
                        <td>@field.Value</td>

                    }
                    else
                    {
                        <td>
                            <a asp-controller="List" asp-action="Jobs" asp-route-column="@field.Key"
                               asp-route-value="@field.Value">@field.Value</a>
                        </td>

                    }
                </tr>

            }
        </tbody>
    </table>
    @*<table class="job-listing">
    <tbody>
        @foreach (var field in job)
        {
            <tr>
                <td>@field.Key </td>
                @if (field.Key != "name")
                {
                    <td> @field.Value </td></tr>

                }
                    
        }
    </tbody>
    </table>*@
}


